.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background-color: #d1c4e9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}


.jumbotron{
    padding: 50px 50px 50px 50px;
    margin: 0px;
    background-color: rgb(236, 179, 19);
    color:#0f0f0f;

}

.address{
    font-size: 80%;
    margin:0px;
    color: #0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}


.list-group{
    margin-top: 41px;
}

.navbar-dark {
     background-color: rgb(167, 39, 17);
     
}


.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel {
    margin-top: 2cm;
    background:#512DA8;
}

.carousel-item {
  height: 300px; 
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#carouselButton {
    right:0px;
    position: absolute;
    bottom: 0px;
    z-index: 2;
}

.modal-header {
    background-image:url("images/gradient.jpg") }
    .modal-header button {
      color:#ddd }
  
  .modal-title {
    color:#ddd; }
  
  .modal-body {
    background-color: #D1C4E9; }
  
  .modal-footer {
    background-color: #9575CD; }

.toit{
    text-align:right;
}    


@media screen and (max-width:1000px){
    .collapse{
        background:rgb(170, 51, 36);
    }
}

.carousel-control-prev-icon{
    z-index: 2;
}

.carousel-control-next-icon{
    z-index: 2;
}

.navbar-toggler-icon{
    z-index: 2;
}

.noice{
    margin-top: 2cm;
}

.france{
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    border: 4px solid rgb(201, 35, 43);
}

.amy{
    background-color: antiquewhite;
}

.charles{
    background-color: antiquewhite;
}

/* .jumbo{
    background-image:url("images/header.jpg");
    margin-top: 1cm;
    height: 4cm;
    font-display:center ;
}

.diaz{
    margin-top: 0.8cm;
    font-family: monospace;
    font-size: 0.5cm;
    color: #ddd;
    background-image: url("images/gradient.jpg");
    padding-right: 0cm;
}

.pimento{
    margin-top: -3cm;
}

.scully {
    padding: 4px;
    width: 5cm;
    /* font-style: italic; */
    /* float: right;
    font-family: monospace;
    font-size: 20px;
}*/


.hitchcock{
    font-family: monospace;
    font-size: 1cm;

}

.scully{
    padding: 4px;
    width: 5cm;
    font-family: monospace;
    font-size: 20px;
    float:right;
}

.gina{
    padding-left: 2mm;
}

/* .terry{
    border: 1px solid;
    padding: 2mm 2mm 0mm 2mm;
} */


@media screen and (min-width:720px)
{
.pontiacguy{
    margin-left: 5.5cm;
}
}